<header id="header" class="page-header">
          <div class="page-header-container">
              <figure class="content_">
                  <!-- <div class="diV"> -->
                      <span class="mundo icon-logo">
                        <small style="color:black; text-transform: capitalize; font-size: 5vh;">
                          <strong style="color:red; text-transform: uppercase;">D'</strong> PELUCHE </small>
                      </span>
                  <!-- </div> -->
              </figure>
              <div class="quick-access hidden-lg hidden-md">
                  <ul class="top-links">
                      <li class="link-search">
                          <a href="javascript:void(0);">
                              <span class="icon-magnifying-glass"></span>
                              <span class="link-label">Buscar</span>
                          </a>
                          <form id="search_mini_form" class="input-group search-bar cntr">
                              <div class="input-box cntr-innr">
                                  <label for="search">Buscar:</label>
                                  <input name="search" placeholder="Buscar.." id="q" class="form-control input-group " onkeyup="load(1);">
                                  <span id="loader"></span>
                              </div>
                              <div id="search_autocomplete" class="search-autocomplete"></div>
                          </form>
                      </li>
                      <li>
                          <a href="#modalRegistro" data-toggle="modal">
                            <span class="icon-envelope"></span>
                            <span id="modalColec" class="icon-furrynetwork novisible"></span>
                          </a>
                      </li>
                      <li>
                          <a href="#" >
                            <span id="modalCat" class="icon-grid1"></span>
                            <span id="modalCaa" class="icon-furrynetwork novisible"></span>
                          </a>
                      </li>
                      <li>
                          <a href="#modalRegistro" data-toggle="modal"><span class="icon-basket1"></span><span
                              id="modalCop" class="icon-furrynetwork novisible"></span></a>
                      </li>
                  </ul>
                  <div class="skip-links"><a href="#header-nav" class="skip-link skip-nav iconos_"><span class="icon"></span><span class="link-label">Menu</span></a></div>
              </div>
              <div id="header-nav" class="skip-content">
                  <nav id="nav">
                      <ol class="nav-primary AllCategoryNav">
                          <li class="level0 nav-headwear"><a class="level0" href="javascript:;"
                                  style="padding-left: 9.27778px; padding-right: 9.27778px;">Quiero ser mayorista:</a>
                          </li>
                      </ol>
                      <ol class="nav-primary CategoriesNav">
                        <li class="level0 nav-collections parent" outerLinkActive="active">
                              <a class="level0 has-children" routerLink="categorias"
                                style="padding-left: 9.27778px; padding-right: 9.27778px;">CATEGORIAS</a>
                                <ul class="level0">
                                  <li class="level1">
                                    <ul class="level1 SUB">
                                        <li class="level1">
                                             <a class="level1" href="#"></a>
                                                <div class="nav-cat-image">
                                                    <img alt="" height="300" width="300" src="">
                                                </div>
                                        </li>
                                    </ul>
                                </li>
                             </ul>
                        </li>
                      </ol>
                      <ol class="nav-primary cms-nav">
                        <li class="level0 nav-collections parent" outerLinkActive="active">
                          <a class="level0 has-children" routerLink="dtemporada"
                            style="padding-left: 9.27778px; padding-right: 9.27778px;">DE TEMPORADA</a>
                          <ul class="level0">
                            <li class="level1">
                              <ul class="level1 SUB">
                                <li class="level1">
                                  <a class="level1" href="#"></a>
                                  <div class="nav-cat-image">
                                    <img alt="" height="300" width="300" src="">
                                  </div>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ol>
                      <ol class="nav-primary cms-nav">
                        <li routerLinkActive="active" class="level0 nav-collections parent">
                          <a class="level0 has-children" routerLink="catalogos" style="padding-left: 9.27778px; padding-right: 9.27778px;">CATALOGOS</a>
                          <ul class="level0">
                            <li class="level1">
                              <ul class="level1 SUB">
                                <li class="level1">
                                  <a class="level1" href="#"></a>
                                  <div class="nav-cat-image">
                                    <img alt="" height="300" width="300" src="">
                                  </div>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ol>
                      <ol class="nav-primary cms-nav">
                        <li routerLinkActive="active"  class="level0 nav-collections parent">
                          <a class="level0 has-children" routerLink="about"
                            style="padding-left: 9.27778px; padding-right: 9.27778px;">EMPRESA</a>
                          <ul class="level0">
                            <li class="level1">
                              <ul class="level1 SUB">
                                <li class="level1">
                                  <a class="level1" href="#"></a>
                                  <div class="nav-cat-image">
                                    <img alt="" height="300" width="300" src="">
                                  </div>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ol>
                      <ol class="nav-primary cms-nav">
                        <li class="level0 nav-collections parent" outerLinkActive="active">
                          <a class="level0 has-children" routerLink="politicas"
                            style="padding-left: 9.27778px; padding-right: 9.27778px;">POLITICAS DE ENVIO</a>
                          <ul class="level0">
                            <li class="level1">
                              <ul class="level1 SUB">
                                <li class="level1">
                                  <a class="level1" href="#"></a>
                                  <div class="nav-cat-image">
                                    <img alt="" height="300" width="300" src="">
                                  </div>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ol>
                      <ol class="nav-primary cms-nav">
                        <li class="level0 nav-collections parent" outerLinkActive="active">
                          <a class="level0 has-children" routerLink="´rpductos"
                            style="padding-left: 9.27778px; padding-right: 9.27778px;">PRODUCTOS</a>
                          <ul class="level0">
                            <li class="level1">
                              <ul class="level1 SUB">
                                <li class="level1">
                                  <a class="level1" href="#"></a>
                                  <div class="nav-cat-image">
                                    <img alt="" height="300" width="300" src="">
                                  </div>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ol>
                      <div class="navPaddingTotal"></div>
                  </nav>
              </div>
          </div>
      </header>
