
          <div class="page-header-container">
              <figure class="content_">
                   <div class="diV">
                      <span class="mundo icon-logo">
                        <small style="color:black; text-transform: capitalize; font-size: 5vh;">
                          <strong style="color:red; text-transform: uppercase;">D'</strong> PELUCHE </small>
                      </span>
                  </div>
              </figure>

              <div class="quick-access hidden-md hidden-lg">
                  <ul class="top-links">
                      <li class="link-search">
                          <a href="javascript:void(0);">
                              <span class="icon-magnifying-glass"></span>
                              <span class="link-label">Buscar</span>
                          </a>



                          <form id="search_mini_form" class="input-group search-bar cntr">
                              <div class="input-box cntr-innr">
                                  <label for="urku-search">
                                      <svg>
                                        <use xlink:href="assets/img/symbols.svg#icon-search"></use>
                                      </svg>
                                    </label>
                                  <input (keyup.enter)="buscarProducto( txtBuscar.value )"
                                  placeholder="Buscar..."
                                  id="urku-search"
                                  class="rk-search-field"
                                  #txtBuscar>
                                  <span id="loader"></span>
                              </div>
                              <div id="search_autocomplete" class="search-autocomplete"></div>
                          </form>
                      </li>
                      <li>
                          <a href="#modalRegistro" data-toggle="modal">
                            <span class="icon-envelope"></span>
                            <span id="modalColec" class="icon-furrynetwork novisible"></span>
                          </a>
                      </li>
                      <li>
                          <a href="#" >
                            <span id="modalCat" class="icon-grid1"></span>
                            <span id="modalCaa" class="icon-furrynetwork novisible"></span>
                          </a>
                      </li>
                      <li>
                          <a href="#modalRegistro" data-toggle="modal"><span class="icon-basket1"></span><span
                              id="modalCop" class="icon-furrynetwork novisible"></span></a>
                      </li>
                  </ul>
                  <div class="skip-links"><a href="#header-nav" class="skip-link skip-nav iconos_"><span class="icon"></span><span class="link-label">Menu</span></a></div>
              </div>
              <div id="header-nav" class="skip-content">
                  <nav id="nav">
                      <ol routerLink="home" class="nav-primary AllCategoryNav">
                          <li class="level0 nav-headwear" outerLinkActive="active">
                            <a class="level0" href="javascript:;" style="padding-left: 9.27778px; padding-right: 9.27778px;">Inicio:</a>
                          </li>
                      </ol>
                      <ol class="nav-primary CategoriesNav">
                        <li class="level0 nav-collections parent" outerLinkActive="active">
                              <a class="level0 has-children" routerLink="categorias" style="padding-left: 9.27778px; padding-right: 9.27778px;">CATEGORIAS</a>
                              <ul class="level0 nav-cols" style="">
                                <li class="level1">
                                  <ul class="level1 SUB">
                                    <li class="level1">
                                        <a class="level1" href="https://dpeluche.com/vacas">Bovinos</a>
                                        <div class="nav-cat-image" style="background:white;"><img alt="vistas/img/submenus/vacas" height="300" width="300" src="https://dpeluche.com/backend/vistas/img/submenus/vacas.png"></div>
                                        </li><li class="level1">
                                        <a class="level1" href="https://dpeluche.com/caballo">Caballo</a>
                                        <div class="nav-cat-image" style="background:white;"><img alt="vistas/img/submenus/caballo" height="300" width="300" src="https://dpeluche.com/backend/vistas/img/submenus/caballo.png"></div>
                                        </li><li class="level1">
                                        <a class="level1" href="https://dpeluche.com/chango">Changos</a>
                                        <div class="nav-cat-image" style="background:white;"><img alt="vistas/img/submenus/chango" height="300" width="300" src="https://dpeluche.com/backend/vistas/img/submenus/chango.png"></div>
                                        </li><li class="level1">
                                        <a class="level1" href="https://dpeluche.com/colecciones">Colecciones</a>
                                        <div class="nav-cat-image" style="background:white;"><img alt="vistas/img/submenus/colecciones" height="300" width="300" src="https://dpeluche.com/backend/vistas/img/submenus/colecciones.png"></div>
                                        </li><li class="level1">
                                        <a class="level1" href="https://dpeluche.com/conejo">Conejo</a>
                                        <div class="nav-cat-image" style="background:white;"><img alt="vistas/img/submenus/conejo" height="300" width="300" src="https://dpeluche.com/backend/vistas/img/submenus/conejo.png"></div>
                                        </li><li class="level1">
                                        <a class="level1" href="https://dpeluche.com/elefante">Elefante</a>
                                        <div class="nav-cat-image" style="background:white;"><img alt="vistas/img/submenus/elefante" height="300" width="300" src="https://dpeluche.com/backend/vistas/img/submenus/elefante.png"></div>
                                        </li><li class="level1">
                                        <a class="level1" href="https://dpeluche.com/gato">Gatos</a>
                                        <div class="nav-cat-image" style="background:white;"><img alt="vistas/img/submenus/gato" height="300" width="300" src="https://dpeluche.com/backend/vistas/img/submenus/gato.png"></div>
                                        </li><li class="level1">
                                        <a class="level1" href="https://dpeluche.com/jirafa">Jirafa</a>
                                        <div class="nav-cat-image" style="background:white;"><img alt="vistas/img/submenus/jirafa" height="300" width="300" src="https://dpeluche.com/backend/vistas/img/submenus/jirafa.png"></div>
                                        </li><li class="level1">
                                        <a class="level1" href="https://dpeluche.com/leon">Leon</a>
                                        <div class="nav-cat-image" style="background:white;"><img alt="vistas/img/submenus/leon" height="300" width="300" src="https://dpeluche.com/backend/vistas/img/submenus/leon.png"></div>
                                        </li><li class="level1">
                                        <a class="level1" href="https://dpeluche.com/oso">Oso</a>
                                        <div class="nav-cat-image" style="background:white;"><img alt="vistas/img/submenus/oso" height="300" width="300" src="https://dpeluche.com/backend/vistas/img/submenus/oso.png"></div>
                                        </li>							</ul>
                                  <ul class="level1 SUB">
                                    <li class="level1">
                                        <a class="level1" href="https://dpeluche.com/panda">Panda</a>
                                        <div class="nav-cat-image" style="background:white;"><img alt="vistas/img/submenus/panda" height="300" width="300" src="https://dpeluche.com/backend/vistas/img/submenus/panda.png"></div>
                                        </li><li class="level1">
                                        <a class="level1" href="https://dpeluche.com/pato">Pato</a>
                                        <div class="nav-cat-image" style="background:white;"><img alt="vistas/img/submenus/pato" height="300" width="300" src="https://dpeluche.com/backend/vistas/img/submenus/pato.png"></div>
                                        </li><li class="level1">
                                        <a class="level1" href="https://dpeluche.com/perro">PERROS</a>
                                        <div class="nav-cat-image" style="background:white;"><img alt="vistas/img/submenus/perro" height="300" width="300" src="https://dpeluche.com/backend/vistas/img/submenus/perro.png"></div>
                                        </li><li class="level1">
                                        <a class="level1" href="https://dpeluche.com/puerco">PUERCO</a>
                                        <div class="nav-cat-image" style="background:white;"><img alt="vistas/img/submenus/puerco" height="300" width="300" src="https://dpeluche.com/backend/vistas/img/submenus/puerco.png"></div>
                                        </li><li class="level1">
                                        <a class="level1" href="https://dpeluche.com/rana">RANA</a>
                                        <div class="nav-cat-image" style="background:white;"><img alt="vistas/img/submenus/rana" height="300" width="300" src="https://dpeluche.com/backend/vistas/img/submenus/rana.png"></div>
                                        </li><li class="level1">
                                        <a class="level1" href="https://dpeluche.com/tortuga">TORTUGA</a>
                                        <div class="nav-cat-image" style="background:white;"><img alt="vistas/img/submenus/tortuga" height="300" width="300" src="https://dpeluche.com/backend/vistas/img/submenus/tortuga.png"></div>
                                        </li><li class="level1">
                                        <a class="level1" href="https://dpeluche.com/unicornio">UNICORNIO</a>
                                        <div class="nav-cat-image" style="background:white;"><img alt="vistas/img/submenus/unicornio" height="300" width="300" src="https://dpeluche.com/backend/vistas/img/submenus/unicornio.png"></div>
                                        </li><li class="level1">
                                        <a class="level1" href="https://dpeluche.com/bebes">Bebes</a>
                                        <div class="nav-cat-image" style="background:white;"><img alt="vistas/img/submenus/bebes" height="300" width="300" src="https://dpeluche.com/backend/vistas/img/submenus/bebes.png"></div>
                                        </li><li class="level1">
                                        <a class="level1" href="https://dpeluche.com/Delfin">Delfin</a>
                                        <div class="nav-cat-image" style="background:white;"><img alt="vistas/img/submenus/Delfin" height="300" width="300" src="https://dpeluche.com/backend/vistas/img/submenus/Delfin.png"></div>
                                        </li>							</ul>

                                </li>
                              </ul>
                        </li>
                      </ol>
                      <ol class="nav-primary cms-nav">
                        <li routerLinkActive="active" class="level0 nav-collections parent">
                          <a class="level0 has-children" routerLink="catalogos" style="padding-left: 9.27778px; padding-right: 9.27778px;">CATALOGOS</a>
                          <ul class="level0">
                            <li class="level1">
                              <ul class="level1 SUB">
                                <li class="level1">
                                  <a class="level1" href="#">Unicornio</a>
                                </li>
                                <li class="level1">
                                  <a class="level1" href="#">San Valentin 2019</a>
                                </li>
                                <li class="level1">
                                  <a class="level1" href="#">Muñecas</a>
                                </li>
                                <li class="level1">
                                  <a class="level1" href="#">Osos</a>
                                </li>
                              </ul>
                            </li>
                          </ul>

                        </li>
                      </ol>
                      <ol class="nav-primary cms-nav">
                        <li routerLinkActive="active"  class="level0 nav-collections">
                          <a class="level0" routerLink="about"  style="padding-left: 9.27778px; padding-right: 9.27778px;">EMPRESA</a>
                        </li>
                      </ol>
                      <ol class="nav-primary cms-nav">
                        <li class="level0 nav-collections" outerLinkActive="active">
                          <a class="level0" routerLink="politicas" style="padding-left: 9.27778px; padding-right: 9.27778px;">POLITICAS DE ENVIO</a>
                        </li>
                      </ol>
                      <ol class="nav-primary cms-nav">
                        <li class="level0 nav-collections" outerLinkActive="active">
                          <a class="level0" routerLink="blog"
                            style="padding-left: 9.27778px; padding-right: 9.27778px;">BLOG</a>
                        </li>
                      </ol>
                      <ol class="nav-primary cms-nav">
                        <li class="level0 nav-collections" outerLinkActive="active">
                          <a class="level0" routerLink="videos"
                            style="padding-left: 9.27778px; padding-right: 9.27778px;">videos</a>
                        </li>
                      </ol>
                      <ol class="nav-primary cms-nav">
                        <li class="level0 nav-collections" outerLinkActive="active">
                          <a class="level0" routerLink="registro"
                            style="padding-left: 9.27778px; padding-right: 9.27778px;">Quiero ser mayorista</a>
                        </li>
                      </ol>
                      <ol class="nav-primary cms-nav">
                        <li class="submenu level0 nav-collections">
                          <a (click)="salir()" class="level0"><i class="fa fa-sign-out" style="font-size: 20px;"> Cerrer Sesion</i></a>
                          </li>
                        </ol>
                        <ol class="nav-primary CatrgoriesNav">
                          <li class="submenu level0 nav-collections" outerLinkActive="active"><a routerLink="carrito" class="level0"><i class="fa fa-shopping-bag" id="img-carrito" style="font-size: 20px;"></i></a>
                            <div id="carrito">

                                <table *ngIf="!cargando && producto.length > 0"
                                    class="table mt-3 animated fadeIn faster animated fadeIn faster responsive-table table ">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">Peluche</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let heroe of producto; let i = index">
                                    <td>{{ heroe.titulo }} <img src="./{{ heroe.multimedia1 }}" style="width: 40px;" class="img-responsive"></td>
                                    <td>{{ heroe.stock }}</td>
                                    <td>
                                      <button class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                      </button>


                                    </td>
                                  </tr>
                                </tbody>
                              </table>

                                    <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a>
                            </div>
                          </li>
                        </ol>

                      <div class="navPaddingTotal"></div>
                  </nav>
              </div>
          </div>

