<!--=====================================
BREADCRUMB CARRITO DE COMPRAS
======================================-->
<div class="col-md-10">
<div class="container-fluid well well-sm">

    <div class="container">

      <div class="row">

        <ul class="breadcrumb fondoBreadcrumb text-uppercase">

          <li><a href="#">CARRITO DE COMPRAS</a></li>
          <li class="active pagActiva"></li>

        </ul>

      </div>

    </div>

  </div>

  <!--=====================================
  TABLA CARRITO DE COMPRAS
  ======================================-->

  <div class="container-fluid">

    <div class="container-fluid">

      <div class="panel panel-default">

        <!--=====================================
        CABECERA CARRITO DE COMPRAS
        ======================================-->

        <div class="panel-heading cabeceraCarrito">
            <div class="col-sm-2 col-xs-0 text-center">
                <h3>
                  <small>CODIGO</small>
                </h3>

              </div>
          <div class="col-md-4 col-sm-7 col-xs-12 text-center">

            <h3>
              <small>PRODUCTO</small>
            </h3>

          </div>

          <div class="col-md-3 col-sm-1 col-xs-0 text-center">

            <h3>
              <small>PRECIO</small>
            </h3>

          </div>

          <div class="col-sm-3 col-xs-0 text-center">

            <h3>
              <small>CANTIDAD</small>
            </h3>

          </div>



        </div>

        <!--=====================================
        CUERPO CARRITO DE COMPRAS
        ======================================-->

        <div *ngIf="!cargando && producto.length" class="panel-body cuerpoCarrito">

          <!-- item1 -->
          <div *ngFor="let heroe of producto; let i = index">
          <div clas="row itemCarrito">

            <div class="col-sm-1 col-xs-12">

              <br>

              <div>

                <button class="btn btn-default backColor">

                  <i class="fa fa-times"></i>

                </button>

              </div>

            </div>
            <div class="col-sm-2 col-xs-12">

               <br>

                    <p class="tituloCarritoCompra text-left">{{ heroe.ruta }}</p>
                    <br>
                    <figure>

                        <img src="./{{ heroe.multimedia1 }}" class="img-thumbnail">

                      </figure>


              </div>


            <div class="col-sm-4 col-xs-12">

              <br>

              <p class="tituloCarritoCompra text-left">{{ heroe.descripcion }}</p>

            </div>

            <div class="col-md-3 col-sm-1 col-xs-12">

              <br>

              <p class="precioCarritoCompra text-center"> $ <span>{{ heroe.precio }}</span></p>

            </div>

            <div class="col-md-2 col-sm-3 col-xs-8">

              <br>

              <div class="col-xs-8">

                <div>

                    <p class="precioCarritoCompra text-center"> <span>{{ heroe.stock }}</span> pza</p>

                </div>

              </div>

            </div>

          </div>

          <div class="clearfix"></div>

          <hr>
        </div>



        </div>

        <!--=====================================
        SUMA DEL TOTAL DE PRODUCTOS
        ======================================-->
        <div class="panel-body sumaCarrito">

            <div class="col-md-4 col-sm-6 col-xs-12 pull-right well">

              <div class="col-xs-6">

                <h4>TOTAL:</h4>

              </div>

              <div class="col-xs-6">

                <h4 class="sumaSubTotal">

                  <strong> $<span>{{ itemsS.total_carrito }}</span></strong>

                </h4>

              </div>

            </div>

          </div>


        <!--=====================================
        BOTÓN CHECKOUT
        ======================================-->

        <div class="panel-heading cabeceraCheckout">

          <button class="btn btn-default backColor btn-lg pull-right">REALIZAR PEDIDO</button>

        </div>

      </div>

    </div>

  </div>
</div>
