<div class="container-fluid">

  <div class="body ocul_mns" id="empresa">
    <div class="emp_cen">
      <div class="page_titles">
        <div class="col-lg-12">
          <div class="col-lg-5 col-md-3 col-sm-3">

            <hr>

          </div>
          <div class="col-lg-2 col-md-6 col-sm-6">

            <span>POLITICAS</span>

          </div>

          <div class="col-lg-5 col-md-3 col-sm-3">

            <hr>

          </div>


        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-3  col-md-3 col-sm-3"></div>

        <div class="col-lg-6 col-md-6 col-sm-6">

          <div class="emp_bq1">
            <div class="txt_gral">
              <h3>Políticas de envío:</h3>
              <p>
                Una vez efectuado el pago de su pedido se realiza el envío por la paquetería de su elección, el pago del
                envío corre por cuenta del cliente directamente a la empresa de transporte.
              </p>
              <br>
              <h3>Garantías</h3>
              <p>Mercancía dañada por defecto de fábrica se acepta devolución o cambio. Válido solamente en los
                siguientes 3 días después de haber recibido su mercancía, transcurrido ese tiempo no se aceptan
                devoluciones ni cambios. En caso de que cajas o bultos lleguen en malas condiciones y faltantes, la
                reclamación se hace directamente con la empresa de transporte.</p>
            </div>
          </div>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-3"></div>
      </div>
    </div>
  </div>


</div>