<div class="container-fluid">

  <div class="body ocul_mns" id="empresa">
    <div class="emp_cen">
      <div class="page_titles">
        <div class="col-lg-12">
          <div class="col-lg-5">

            <hr>

          </div>
          <div class="col-lg-2">

            <span>D' PELUCHE</span>

          </div>

          <div class="col-lg-5">

            <hr>

          </div>


        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-3"></div>

        <div class="col-lg-6">

          <div class="emp_bq1">
            <div class="txt_gral">
              <h3>Nuestra empresa:</h3>
              <p>
                Somos una Empresa Mexicana con más de 21 años de experiencia en la importación, comercialización y
                fabricación de muñecos y artículos de peluche.
                Operada por gente joven y comprometida en satisfacer las necesidades del cliente ofreciendo la máxima
                calidad en los productos y servicios tanto en productos de importación como nacionales.
              </p>
              <br>
              <h3>¿Qué nos hace diferentes?</h3>
              <p>Desde su inicio D´peluche se distinguió por una atención personalizada, una gran variedad de modelos y
                relación de calidad-precio, además de contar con un departamento de diseño e innovación para el
                desarrollo de proyectos institucionales para diversas empresas.</p>
              <br>
              <h3>Historia:</h3>
              <p>D´peluche inicia en 1993 con la distribución a medio mayoreo a clientes de la República Mexicana.<br>
                <br>
                Teniendo el compromiso en ofrecer diseños exclusivos, diferenciándose de sus competidores al tener
                mercancía de mejor calidad y desarrollando nuevos proveedores nacionales y extranjeros, motivo por el
                cual surge la necesidad de importar de Asia estableciendo importantes alianzas comerciales.</p>
              <br>
              <br>
              <br>
            </div>
          </div>

        </div>

        <div class="col-lg-3"></div>
      </div>
    </div>
  </div>


</div>