<header id="header" class="page-header">

  <app-header></app-header>

</header>
<hr class="separa">

<main class="container">


      <div id="manCategoria" class="col-lg-2 col-md-2 novisible" style="padding: 0 20px 0 0px">
          <div class="column-inner">
            <div class="wpb_wrapper">
              <div id="page-content-custom-menu">
                <div class="shop-by-collections always-show">
                  <div class="sidebar-collections">
                    <div class="sdcollections-title sb-title">
                      <i class="fa fa-list"> categorias</i>
                    </div>
                    <div class="sdcollections-content">
                      <div class="menu-categorias-container">



                        <ul class="menu-categorias sdcollections-list">
                          <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children sdc-element vetical-menu1 site-nav--has-dropdown">
                            <a href="#" class="site-nav__link">
                              <div style="clear: both;"></div>
                              <div class="element-main">
                                <div class="collection-area have-icons blank-featured-img">
                                  <div class="collection-name">
                                        <img src="https://ovgsoft.com/api/ICONOS/oveja.svg" style="width: 60px;"
                                        alt="https://ovgsoft.com/api/ICONOS/oveja.svg">
                                         Oveja

                                   </div>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li style="width: 100%" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children sdc-element vetical-menu1 site-nav--has-dropdown">
                            <a href="#" class="site-nav__link">
                              <img src="#" class="blank-featured-img" alt="">
                              <div style="clear: both;"></div>
                              <div class="element-main">
                                <div class="collection-area have-icons blank-featured-img">
                                  <div class="collection-name">
                                    <img src="https://ovgsoft.com/api/ICONOS/caballo.svg" style="width: 60px;"
                                      alt="https://ovgsoft.com/api/ICONOS/caballo.svg">
                                    Caballo
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children sdc-element vetical-menu1 site-nav--has-dropdown">
                            <a href="#" class="site-nav__link">
                              <img src="#" class="blank-featured-img" alt="">
                              <div style="clear: both;"></div>
                              <div class="element-main">
                                <div class="collection-area have-icons blank-featured-img">
                                  <div class="collection-name">
                                    <img src="https://ovgsoft.com/api/ICONOS/gorila.svg" style="width: 60px;"
                                      alt="https://ovgsoft.com/api/ICONOS/gorila.svg">
                                    Changos
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li
                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children sdc-element vetical-menu1 site-nav--has-dropdown">
                            <a href="#" class="site-nav__link">
                              <img src="#" class="blank-featured-img" alt="">
                              <div style="clear: both;"></div>
                              <div class="element-main">
                                <div
                                  class="collection-area have-icons blank-featured-img">
                                  <div class="collection-name">
                                    <img src="https://ovgsoft.com/api/ICONOS/conejo.svg" style="width: 10%;"
                                      alt="https://ovgsoft.com/api/ICONOS/conejo.svg">
                                    Conejo
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li
                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children sdc-element vetical-menu1 site-nav--has-dropdown">
                            <a href="#" class="site-nav__link">
                              <img src="#" class="blank-featured-img" alt="">
                              <div style="clear: both;"></div>
                              <div class="element-main">
                                <div
                                  class="collection-area have-icons blank-featured-img">
                                  <div class="collection-name">
                                    <img src="https://ovgsoft.com/api/ICONOS/elefante.svg" style="width: 60px;"
                                      alt="https://ovgsoft.com/api/ICONOS/elefante.svg">
                                    Elefante
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li
                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children sdc-element vetical-menu1 site-nav--has-dropdown">
                            <a href="#" class="site-nav__link">
                              <img src="#" class="blank-featured-img" alt="">
                              <div style="clear: both;"></div>
                              <div class="element-main">
                                <div
                                  class="collection-area have-icons blank-featured-img">
                                  <div class="collection-name">
                                    <img src="https://ovgsoft.com/api/ICONOS/tiger.svg" style="width: 60px;"
                                      alt="https://ovgsoft.com/api/ICONOS/tigre.svg">
                                    Felinos
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li
                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children sdc-element vetical-menu1 site-nav--has-dropdown">
                            <a href="#" class="site-nav__link">
                              <img src="#" class="blank-featured-img" alt="">
                              <div style="clear: both;"></div>
                              <div class="element-main">
                                <div
                                  class="collection-area have-icons blank-featured-img">
                                  <div class="collection-name">
                                    <img src="https://ovgsoft.com/api/ICONOS/jirafa.svg" style="width: 60px;"
                                      alt="https://ovgsoft.com/api/ICONOS/jirafa.svg">
                                    Jirafa
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li
                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children sdc-element vetical-menu1 site-nav--has-dropdown">
                            <a href="#" class="site-nav__link">
                              <img src="#" class="blank-featured-img" alt="">
                              <div style="clear: both;"></div>
                              <div class="element-main">
                                <div
                                  class="collection-area have-icons blank-featured-img">
                                  <div class="collection-name">
                                    <img src="https://ovgsoft.com/api/ICONOS/leon.svg" style="width: 60px;"
                                      alt="https://ovgsoft.com/api/ICONOS/leon.svg">
                                    Leon
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li
                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children sdc-element vetical-menu1 site-nav--has-dropdown">
                            <a href="#" class="site-nav__link">
                              <img src="#" class="blank-featured-img" alt="">
                              <div style="clear: both;"></div>
                              <div class="element-main">
                                <div
                                  class="collection-area have-icons blank-featured-img">
                                  <div class="collection-name">
                                    <img src="https://ovgsoft.com/api/ICONOS/oso.svg" style="width: 60px;"
                                      alt="https://ovgsoft.com/api/ICONOS/Oso.svg">
                                    Oso
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children sdc-element vetical-menu1 site-nav--has-dropdown">
                            <a href="#" class="site-nav__link">
                              <img src="#" class="blank-featured-img" alt="">
                              <div style="clear: both;"></div>
                              <div class="element-main">
                                <div
                                  class="collection-area have-icons blank-featured-img">
                                  <div class="collection-name">
                                    <img src="https://ovgsoft.com/api/ICONOS/panda.svg" style="width: 60px;"
                                      alt="https://ovgsoft.com/api/ICONOS/panda.svg">
                                    Panda
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children sdc-element vetical-menu1 site-nav--has-dropdown">
                            <a href="#" class="site-nav__link">
                              <img src="#" class="blank-featured-img" alt="">
                              <div style="clear: both;"></div>
                              <div class="element-main">
                                <div
                                  class="collection-area have-icons blank-featured-img">
                                  <div class="collection-name">
                                    <img src="https://ovgsoft.com/api/ICONOS/koala.svg" style="width: 60px;"
                                      alt="https://ovgsoft.com/api/ICONOS/koala.svg">
                                    Koala
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children sdc-element vetical-menu1 site-nav--has-dropdown">
                            <a href="#" class="site-nav__link">
                              <img src="#" class="blank-featured-img" alt="">
                              <div style="clear: both;"></div>
                              <div class="element-main">
                                <div
                                  class="collection-area have-icons blank-featured-img">
                                  <div class="collection-name">
                                    <img src="https://ovgsoft.com/api/ICONOS/perro.svg" style="width: 60px;"
                                      alt="https://ovgsoft.com/api/ICONOS/perros.svg">
                                    Perros
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li class="conejo menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children sdc-element vetical-menu1 site-nav--has-dropdown">
                            <a href="#" class="site-nav__link">
                              <img src="#" class="blank-featured-img" alt="">
                              <div style="clear: both;"></div>
                              <div class="element-main">
                                <div
                                  class="collection-area have-icons blank-featured-img">
                                  <div class="collection-name">
                                    <img src="https://ovgsoft.com/api/ICONOS/conejo.svg" style="width: 60px;"
                                      alt="https://ovgsoft.com/api/ICONOS/conejo.svg">
                                    Cojejo
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li
                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children sdc-element vetical-menu1 site-nav--has-dropdown">
                            <a href="#" class="site-nav__link">
                              <img src="#" class="blank-featured-img" alt="">
                              <div style="clear: both;"></div>
                              <div class="element-main">
                                <div class="collection-area have-icons blank-featured-img">
                                  <div class="collection-name">
                                    <img src="https://ovgsoft.com/api/ICONOS/marinos.svg" style="width: 60px;"
                                      alt="https://ovgsoft.com/api/ICONOS/marinos.svg">
                                    Marino
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li
                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children sdc-element vetical-menu1 site-nav--has-dropdown">
                            <a href="#" class="site-nav__link">
                              <img src="#" class="blank-featured-img" alt="">
                              <div style="clear: both;"></div>
                              <div class="element-main">
                                <div class="collection-area have-icons blank-featured-img">
                                  <div class="collection-name">
                                    <img src="https://ovgsoft.com/api/ICONOS/hippopotamo.svg" style="width: 60px;"
                                      alt="https://ovgsoft.com/api/ICONOS/hippopotamo.svg">
                                    Hippopotamo
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children sdc-element vetical-menu1 site-nav--has-dropdown">
                            <a href="#" class="site-nav__link">
                              <img src="#" class="blank-featured-img" alt="">
                              <div style="clear: both;"></div>
                              <div class="element-main">
                                <div
                                  class="collection-area have-icons blank-featured-img">
                                  <div class="collection-name">
                                    <img src="https://ovgsoft.com/api/ICONOS/unicornio.svg" style="width: 60px;"
                                      alt="https://ovgsoft.com/api/ICONOS/unicornio.svg">
                                    Unicornios

                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                        </ul>



                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>


      <div *ngIf="productosService.cargando">
          <h2>Cargando</h2>
          <div class="loader loader--style1" title="0">
            <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
              <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
                <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                  C22.32,8.481,24.301,9.057,26.013,10.047z">
                  <animateTransform attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 20 20"
                    to="360 20 20"
                    dur="0.5s"
                    repeatCount="indefinite"/>
                  </path>
                </svg>
              </div>
              <p>Espere por favor</p>
        </div>



  <router-outlet></router-outlet>
  </main>
  <footer id="footer">

      <app-footer></app-footer>

</footer>



<a class="fixed-action-btn direction-top ">
  <div class="btn-floating btn-large white">
      <i class="icon-whatsapp"></i>
  </div>
  </a>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.fixed-action-btn');
      var instances = M.FloatingActionButton.init(elems, {
        direction: 'top',
        hoverEnabled: false
      });
    });



  $(window).on("load", function () {
  localStorage.setItem("n", $('#n').val());
  localStorage.setItem("f", $('#f').val());
  localStorage.setItem("e", $('#e').val());




  });

  </script>
