
    <main class="container-fluid" style="height: 200% !important;">

                <div id="page-content-custom-menu">
                  <div class="shop-by-collections always-show">

                      <hr>
                        <div class="ae-masonry-xs-3">
                        <ul *ngIf="!prodService.cargando">
                          <li *ngFor="let producto of prodService.productos" [routerLink]="['/item', producto.id, producto.portada, producto.titulo ]"
                            class="img-thumbnail" style="padding:10px">
                            <p class="medidass"><span class="medidaNums">{{ producto.stock }} cm</span></p>
                            <p class="medidas"><span class="medidaNum">{{ producto.stock }} cm</span></p>
                            <figure style="padding:20px;">
                              <a [routerLink]="['/item', producto.id, producto.id, producto.portada, producto.titulo ]" class="pixelProducto">
                              <img src="https://dpeluche.com/backend/{{ producto.portada }}" alt="https://dpeluche.com/backend/{{ producto.portada }}" class="img-responsive">
                              </a>
                            </figure>

                          <h4>
                          <h3 style="color:red" href="#" class="pixelProducto">
                            <span class="justify-content-center blog-meta__read-more">{{ producto.titulo }}</span>
                          </h3>
                          <p href="#" class="pixelProducto">
                            {{ producto.descripcion }}
                          </p>
                          </h4>
                          <div class="col-xs-6 precio">
                            <h2>$ {{ producto.precio }}</h2>
                          </div>
                          <div class="col-xs-6 enlaces">
                            <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-lg deseos" data-toggle="tooltip" title="Agregar a mi lista de deseos">
                              <i class="fa fa-heart" aria-hidden="true"></i>
                            </button>
                            <a href="#" class="pixelProducto">
                            <button type="button" class="btn btn-default btn-lg" data-toggle="tooltip" title="Ver producto">
                              <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                            </a>
                            </div>
                          </div>
                          </li>
                        </ul>
                      </div>


                  </div>
                </div>

      </main>
