
<div class="col-md-10">

<app-dtemporada></app-dtemporada>

</div>
<!--=====================================
 VITRINA DE PRODUCTOS GRATIS
======================================-->
<div class="col-md-10">


<div class="container-fluid">

	<div class="container">

		<div class="row">

			<!--=====================================
			BARRA TÍTULO
			======================================-->

			<div class="col-xs-12 tituloDestacado">

			</div>

			<div class="clearfix"></div>

			<hr>



		<!--=====================================
		VITRINA DE PRODUCTOS EN CUADRÍCULA
    ======================================-->











		<ul *ngIf="!productosService.cargando" >

			<!-- Producto 1 -->

			<li *ngFor="let producto of productosService.productos | paginate: { itemsPerPage: 8, currentPage: p }" class="col-md-4 col-sm-12 col-lg-3">

        <div style="max-height: 300px; min-height: 200px; overflow: hidden;">
            <p class="medidass" style="zoom: 0.7;"><span class="medidaNums">{{ producto.detalles }} cm</span></p>
            <p class="medidas" style="zoom: 0.7;"><span class="medidaNum">{{ producto.detalles }} cm</span></p>

				<figure style="max-height: 300px; min-height: 200px; overflow: hidden;">

					<a [routerLink]="['/item', producto.id_pel ]"  class="pixelProducto">

						<img src="./{{ producto.multimedia1 }}" class="img-responsive">

					</a>

				</figure>
        </div>
				<!--===============================================-->

				<div style="max-height: 300px; min-height: 200px;">
        <h3>
            {{ producto.titulo }} <br>
            <strong>precios $ {{ producto.precio }}</strong><br>
          <strong>Codigo:  {{ producto.ruta }} </strong><br>
          <strong>Colores:  {{ producto.titular }} </strong><br>
          <strong>Medidas:  {{ producto.detalles }} </strong><br>
        </h3>
      </div>
      </li>

<hr>
<br>


    </ul>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
		<!--=====================================
		VITRINA DE PRODUCTOS EN LISTA
		======================================-->
		</div>

	</div>

</div>


</div>
