<div class="container-fluid" id="slide">



      <!--=====================================
      DIAPOSITIVAS
      ======================================-->

      <ul style="width: 500%;">

          <li style="width: 20%;">

                  <img src="https://dpeluche.com/backend/vistas/img/slide/slide6/fondo.jpg" alt="https://dpeluche.com/backend/vistas/img/slide/slide6/fondo.jpg">

                  <div class="slideOpciones slideOpcion1"><div class="textosSlide" style="top:20%; left:15%; width:40%; right:0%">

                      <h1 style="color:#333"></h1>

                      <h2 style="color:#777"></h2>

                      <h3 style="color:#888"></h3></div>

                  </div>

                </li><li style="width: 20%;">

                  <img src="https://dpeluche.com/backend/vistas/img/slide/slide5/fondo.jpg" alt="https://dpeluche.com/backend/vistas/img/slide/slide5/fondo.jpg">

                  <div class="slideOpciones slideOpcion1"><div class="textosSlide" style="top:20%; left:15%; width:40%; right:0%">

                      <h1 style="color:#ffffff"></h1>

                      <h2 style="color:#777777"></h2>

                      <h3 style="color:#888"></h3></div>

                  </div>

                </li><li style="width: 20%;">

                  <img src="https://dpeluche.com/backend/vistas/img/slide/slide7/fondo.jpg" alt="https://dpeluche.com/backend/vistas/img/slide/slide7/fondo.jpg">

                  <div class="slideOpciones slideOpcion1"><div class="textosSlide" style="top:20%; left:15%; width:40%; right:0%">

                      <h1 style="color:#333"></h1>

                      <h2 style="color:#777"></h2>

                      <h3 style="color:#888"></h3></div>

                  </div>

                </li><li style="width: 20%;">

                  <img src="https://dpeluche.com/backend/vistas/img/slide/slide8/fondo.jpg" alt="https://dpeluche.com/backend/vistas/img/slide/slide8/fondo.jpg">

                  <div class="slideOpciones slideOpcion1"><div class="textosSlide" style="top:20%; left:15%; width:40%; right:0%">

                      <h1 style="color:#333333"></h1>

                      <h2 style="color:#777777"></h2>

                      <h3 style="color:#888"></h3></div>

                  </div>

                </li><li style="width: 20%;">

                  <img src="https://dpeluche.com/backend/vistas/img/slide/slide9/fondo.jpg" alt="https://dpeluche.com/backend/vistas/img/slide/slide9/fondo.jpg">

                  <div class="slideOpciones slideOpcion1"><div class="textosSlide" style="top:20%; left:15%; width:40%; right:0%">

                      <h1 style="color:0"></h1>

                      <h2 style="color:0"></h2>

                      <h3 style="color:0"></h3></div>

                  </div>

                </li>

        </ul>

      <!--=====================================
      PAGINACIÓN
      ======================================-->

      <ol id="paginacion">

        <li item="1"><span class="fa fa-circle"></span></li><li item="2"><span class="fa fa-circle"></span></li><li item="3"><span class="fa fa-circle"></span></li><li item="4"><span class="fa fa-circle"></span></li><li item="5"><span class="fa fa-circle"></span></li>
      </ol>

  </div>
  <div class="ae-masonry-xs-2 ae-masonry-md-2 ae-masonry-xl-2"><a href="https://dpeluche.com/sin-categoria" class="rk-item ae-masonry__item">
    <img alt="sin-categoria" class="img-thumbnail" src="https://dpeluche.com/backend/vistas/img/banner/545978590a984.jpeg.jpg">
    <div class="item-meta">
    <h2>sin-categoria</h2>
    <p>sin-categoria</p>
    </div>
    </a><a href="https://dpeluche.com/perro" class="rk-item ae-masonry__item">
    <img alt="perro" class="img-thumbnail" src="https://dpeluche.com/backend/vistas/img/banner/558978dcce5e6.png.png">
    <div class="item-meta">
    <h2>perro</h2>
    <p>perro</p>
    </div>
    </a><a href="https://dpeluche.com/varios" class="rk-item ae-masonry__item">
    <img alt="varios" class="img-thumbnail" src="https://dpeluche.com/backend/vistas/img/banner/5b0d808a581d6.jpeg.jpg">
    <div class="item-meta">
    <h2>varios</h2>
    <p>varios</p>
    </div>
    </a><a href="https://dpeluche.com/rana" class="rk-item ae-masonry__item">
    <img alt="rana" class="img-thumbnail" src="https://dpeluche.com/backend/vistas/img/banner/5474db5747344.jpeg.jpg">
    <div class="item-meta">
    <h2>rana</h2>
    <p>rana</p>
    </div>
    </a></div>
